.custom-modal {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .custom-modal .CModalBody {
    font-size: 16px;
  }
  
  .custom-modal .CButton {
    background-color: #d995af;
    border-color: #d995af;
  }
  