.custom-modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.custom-modal .modal-content {
    width: 100%;
    max-width: 800px; /* Ajuste a largura máxima do modal conforme necessário */
    max-height: 500px;
}

.modal-header {
    font-weight: bold;
}

.label-form {
    font-weight: bold;
}

.botao{
    display: flex;
    background-color: #d995af;
    color: aliceblue;
    margin: 20px;
}

.texto{
    color: #d995af;
    font-weight:500;
}

.texto:hover {
    color: #000000; /* Altere essa cor para a desejada ao passar o mouse */
}

.no-resize {
    resize: none; /* Impede o redimensionamento */
}


