.custom-modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.custom-modal .modal-content {
    width: 100%;
    max-width: 600px; 
}

.modal-header {
    font-weight: bold;
}

.label-form {
    font-weight: bold;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4c4c4c;
}

.form-card {
    margin-top: 20px;
    padding: 20px;
}

.form-card-header {
    font-size: 16px;
    color: #6c757d;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label-form {
    font-weight: bold;
    color: #4c4c4c;
}

.input-field {
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.textarea-field {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}


.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-item {
    margin-bottom: 8px;
}

.radio-input {
    margin-right: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loading-status {
    font-size: 14px;
    color: #6c757d;
}

.transporte-checkbox {
    margin-top: 15px;
}

.valor-total {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}



.save-button {
    background-color: #d995af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.save-button:disabled {
    background-color: #8b8a8a;
    cursor: not-allowed;
}

